@import 'theme';
#siteContent #referenssit {
  @media screen and (min-width: 24cm) {
    background: none;
    @include no-material();
    padding: 0px;
    h2 {
      background: white;
      padding: 10px;
      @include material();
    }
    .content {
      padding: 0px;
    }
  }

  .content {
    float: none;
    margin-left: auto;
    margin-right: auto;
  	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 30cm) {
  		display: block;
    }
    @media screen and (max-width: 24cm) {
      margin-top: -15px;
  		display: block;
      width: auto;
    }

    figure {
      @include material();
      background: white;
      padding: 20px;
      margin-left: 0px;
    	margin-right: 0px;
    	width: calc(50% - 40px - 0.7vw);
      margin-top: 0.7vw;
      margin-bottom: 0.7vw;
      @media screen and (max-width: 30cm) {
        width: auto;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-left: 0px;
    		margin-right: 0px;
      }

      @media screen and (max-width: 24cm) {
        @include no-material();
        min-height: 80px;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-bottom: 15px;
        &:last-of-type {
          border-bottom: 0px;
        }
      }

      img {
        width: 200px;
        height: 200px;
      	float: left;
        border-radius: 1px;
        @media screen and (max-width: 24cm) {
          width: 80px;
          height: 80px;
      		margin-top: 2px;
          border-radius: 0.7px;
        }
      }

      .desc {
        font-size: 18px;
      	margin-left: 220px;
      	padding-top: 0px;
      	margin-top: 0px;
      	word-wrap: break-word;
        @media screen and (max-width: 34cm) {
          font-size: 16px;
        }
        @media screen and (max-width: 24cm) {
          padding-top: -5px;
          margin-left: 92px;
          font-size: 15px;
        }
      }

      &:after {
         content: " ";
         display: block;
         height: 0;
         clear: both;
      }

    }

    &:after {
     content: none;
   }

  }
}
