@import "https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Ubuntu|Roboto";
@import 'theme';

a {
  color: rgb(50, 80, 150);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
  background: white;
}



body {
  margin: 0px;
  padding: 0px;
  background-image: url(/assets/media/texture.jpg);
  overflow-x: hidden;
  background: rgb(245, 245, 245);
}

#linkbar {
  background-color: $linkbar-bg-color;
  text-align: right;
  padding: 22px 40px 22px 0px;
  width: 100%;
  color: $linkbar-link-color;
  float: right;
  position: fixed;
  z-index: 2;
  @include material-shadow();
  height: 20px;
}

#logo {
  height: 80px;
  width: auto;
  position: absolute;
  left: 30px;
  top: 5px;
  z-index:1000000;
}

#linkBarLinks a {
  margin-right: 40px;
  z-index: 2;
  text-decoration: none;
  color: $linkbar-link-color;
  text-transform: uppercase;
}


#title {
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: left;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: inline-block;
}

#title img {
  height: 56px;
}

#menuBox {
  display: none;
}

#menuBoxIcon {
  display: none;
}

#blackBar {
  visibility: none;
}

#linkbar #title {
  display: none;
}



@media screen and (max-width: 24cm) {
  #linkbar {
    text-align: left;
  }
  #title {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 3px;
    box-shadow: 0px;
  }
  #title img {
    height: 35px;
  }
  #linkbar a {
    margin-right: 8px;
  }
  #linkbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 56px;
  }

  #logo {
    height: 45px;
    width: auto;
    position: absolute;
    left: 6px;
    top: 6px;
    display: none;
  }

  body {
    font-size: 15px;
  }
  
  #linkbar {
    z-index: 100000;
  }

  #linkBarLinks {
    position: fixed;
    left: -350px;
    opacity: 0;
    
    transition: left ease-in 600ms, opacity 1ms ease 500ms;
    top: 56px;
    background: white;
    padding: 36px;
    padding-top: 22px;
    border-radius: 0px;
    height: 100%;
    width: 250px;
    font-size: 20px;
    max-width: 50%;
    z-index: 10000;
    
  }
  
  

  #linkBarLinks a {
    display: block;
    text-align: left;
    padding: 10px 0px;
    text-decoration: none;
    color: $menubox-link-color;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto';
  }

  #linkbar.open #linkBarLinks {
    left: 0;
    opacity: 1;
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.23) inset,
    3px 0px 0px 0px rgba(0,0,0,0.03), 2.5px 0px 0px 0px rgba(0,0,0,0.04),
    2px 0px 0px 0px rgba(0,0,0,0.05), 1.5px 0px 0px 0px rgba(0,0,0,0.06),
    1px 0px 0px 0px rgba(0,0,0,0.07), 0.5px 0px 0px 0px rgba(0,0,0,0.08);
    transition: left 500ms, opacity 1ms ease 0ms;
  }

  #linkbar:not(.open) .toggle-menubox::before {
    content: 'menu';
  }

  #linkbar.open .toggle-menubox::before {
    content: 'close';
  }

  #menuBoxIcon {
    display: inline-block;

    margin-left: 0px;
    height: 100%;
  }

  #menuBoxIcon a {
    font-size: 28px;
    text-decoration: none;
    color: white;
    z-index:1000;
    vertical-align: middle;
    line-height: 56px;
    margin-left: 10px;
  }
  
  #linkbar #title {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
    margin-left: 65px;
    font-weight: normal;
    font-family: 'Roboto';
  }
  

  #blackBar {
    visibility: visible;
    height: 56px;
    width: 100%;
    background:  $linkbar-bg-color;
  }
}
