@import url("theme.css");
@import "https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Ubuntu";


#teaser {
  
}

#whiteBar {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 40px;
  color: #d3d3d3;
  display: block;
  border-bottom: 1px solid #d3d3d3;
}

#whiteBar span {
  margin-top: 8px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #d3d3d3
}

#siteContent {
  width: 70%;
  margin: 0px auto 0px auto;
  min-height: 100%;
}


#siteContent .contentElement {
  margin: 30px 0px 30px 0px;
}

#siteContent .contentElement h2 {
  text-align: center;
  font-size: 3.5vw;
  padding: 0px;
  margin: 0px;
  color: var(--main-header-color);
}

#siteContent .contentElement .content {
  padding: 10px;
  color: var(--main-content-color);
  margin-top: 15px;
  font-size: 20px;
}


.contentElement .content:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#bottomBar {
  background-color: var(--bottom-bar-bg-color);
  color: var(--bottom-bar-text-color);
}

#bottomBar h2 {
  padding: 0px; margin: 0px;
}

#contacts {
  width: 70%;
  margin: 0px auto 0px auto;
  padding: 20px 0px 20px 0px;
}

#description {
  display: inline-block;
  width: 52%;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  padding-right: 20px;
  border-right: 2px solid #d3d3d3;
}

#descAndBen {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: calc(24cm*0.7);
}

#benefits {
  text-align: center;
  width: 350px;
  float: left;
  flex-shrink: 0;
  margin-left: -2px;
  border-left: 2px solid #d3d3d3;
}



#benefits .block {
  display: inline-block;
  margin: 2%;
}

#benefits .block .bg {
  background: #3F51B5;
  display: inline-block;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

#benefits .block img {
  width: 80px;
}

#benefits .block h3 {
  font-size: 18px;
}


#progress {
  margin-top: -20px;
  margin-bottom: -20px;
}

#progress {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#progress .block {
  min-height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}



/*MATERIAL DESIGN BLOCK*/
/*#progress .block {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 6px rgb(200, 200, 200);
  background: white;
  padding: 40px;
  border-radius: 1px;
}*/

#progress h3 { color: #3949AB; }


#progress .block .imageBg {
  background: #3F51B5;
  display: inline-block;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
  
#progress .block:not(.imageRight) .imageBg {
  float: left;
}

#progress .block:not(.imageLeft) .imageBg {
  float: right;
}

#progress .block:not(.imageLeft) .text {
  margin-right: 250px;
}
#progress .block:not(.imageRight) .text {
  margin-left: 250px;
}

#progress .block .imageBg img {
  width: 200px;
  height: 200px;
}

#progress .block h3 {
  font-size: 30px;
}

@media screen and (max-width: 38cm) {
  #siteContent {
    width: 24cm;
  }
}


@media screen and (max-width: 24cm) {
  
  
  #siteContent {
    width: 90%;
  }
  
  #siteContent .contentElement h2 {
      font-size: calc( 20px + 2vw );
  }
  
  #siteContent .contentElement .content {
    font-size: 15px;
  }
  
  #whiteBar {
    display: none;
  }
  
  #descAndBen {
    display: block;
    min-width: 0;
    width: auto;
  }
  
  #description {
    float: none;
    width: 100%;
    border: 0;
    padding: 0px;
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #benefits {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    float: none;
    border: none;
  }
  
  #benefits {
    max-width: 300px;
  }
  
  
  #benefits .block {
    margin: 5%;
    width: 25%;
    margin-bottom: 0px;
  }
  
  #benefits .block .bg img {
    width: 100%;
    max-width: 100px;
  }


  
  #benefits .block h3 {
    font-size: calc( 8px + 1.6vw );
    margin-bottom: 0px;
  }

  #progress {
    max-width: 500px;
  }
  
  #progress .block {
    min-height: 80px;
    margin: 0px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  
  #progress .block .imageBg img {
    width: 80px;
    height: 80px;
  }
  
  #progress .block:not(.imageLeft) .text {
    margin-right: 100px;
  }
  #progress .block:not(.imageRight) .text {
    margin-left: 100px;
  }
  
  #progress .block h3 {
    font-size: 25px;
  }


}


#benefits :first-child {
  margin-left: 0px;
}

#benefits :last-child {
  margin-right: 0px;
}
