@import url("theme.css");

#siteContent {
  width: 70%;
  margin: 0px auto 0px auto;
  min-height: 100%;
}


#siteContent .contentElement {
  margin: 30px 0px 30px 0px;
}

#siteContent .contentElement h2 {
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  color: var(--main-header-color);
}

#siteContent .contentElement .content {
  padding: 10px;
  color: var(--main-content-color);
}

#bottomBar {
  background-color: var(--bottom-bar-bg-color);
  color: var(--bottom-bar-text-color);
}

#bottomBar h2 {
  padding: 0px; margin: 0px;
}

#contacts {
  width: 70%;
  margin: 0px auto 0px auto;
  padding: 20px 0px 20px 0px;
}

#progress {
  margin-top: 50px;
}

#progress {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#progress .block {
  min-height: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}


#progress .block .imageBg {
  background: rgb(255,0, 0);
  display: inline-block;
  border-radius: 100%;
}
  
#progress .block:not(.imageRight) .imageBg {
  float: left;
}

#progress .block:not(.imageLeft) .imageBg {
  float: right;
}

#progress .block:not(.imageLeft) .text {
  margin-right: 250px;
}
#progress .block:not(.imageRight) .text {
  margin-left: 250px;
}

#progress .block .imageBg img {
  width: 200px;
  height: 200px;
}

#progress .block h3 {
  font-size: 30px;
}

#progress .block .text {
  font-size: 20px;
}

@media screen and (max-width: 24cm) {
  
  
  #siteContent {
    width: 97%;
  }
  
  #progress {
    max-width: 500px;
  }
  
  #progress .block {
    min-height: 80px;
    margin: 0px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  
  #progress .block .imageBg img {
    width: 80px;
    height: 80px;
  }
  
  #progress .block:not(.imageLeft) .text {
    margin-right: 100px;
  }
  #progress .block:not(.imageRight) .text {
    margin-left: 100px;
  }
  
  #progress .block h3 {
    font-size: 25px;
  }

  #progress .block .text {
    font-size: 15px;
  }
  
  
  
  
}
