body {
  --theme-color-red: rgb(244, 67, 54);
  --theme-color-red-with-alpha: rgba(244, 67, 54, 0.7);
  --main-header-color: #263238;
  --main-content-color: #263238;
  --linkbar-link-color: rgb(255, 255, 255);
  --menubox-link-color: #263238;
  --bottom-bar-bg-color: var(--theme-color-red);
  --bottom-bar-text-color: white;
  --linkbar-bg-color: var(--theme-color-red);
  --linkbar-bg-color-with-alpha: var(--theme-color-red-with-alpha);
}
