@import "https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Ubuntu|Roboto";
.my-gallery {
  width: 100%; }

.my-gallery figure {
  display: block; }

.my-gallery figcaption {
  display: none; }

.my-gallery figure .desc {
  padding: 6px 2px 2px 2px;
  color: black; }

#linkbar {
  background-color: #F44336;
  text-align: right;
  padding: 22px 40px 22px 0px;
  width: 100%;
  color: white;
  float: right;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 20px; }
  @media screen and (max-width: 24cm) {
    #linkbar {
      text-align: left;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 56px;
      z-index: 10; } }
  #linkbar #logo {
    height: 80px;
    width: auto;
    position: absolute;
    left: 30px;
    top: 5px; }
    @media screen and (max-width: 24cm) {
      #linkbar #logo {
        display: none; } }
  #linkbar.open #linkBarLinks {
    left: 0;
    opacity: 1;
    transition: left 500ms, opacity 1ms ease 0ms; }
  #linkbar:not(.open) .toggle-menubox::before {
    content: 'menu'; }
  #linkbar.open .toggle-menubox::before {
    content: 'close'; }
  #linkbar #linkBarLinks {
    box-shadow: none; }
    @media screen and (max-width: 24cm) {
      #linkbar #linkBarLinks {
        position: fixed;
        left: -350px;
        opacity: 0;
        transition: left ease-in 600ms, opacity 1ms ease 500ms;
        top: 56px;
        background: white;
        padding: 36px;
        padding-top: 22px;
        border-radius: 0px;
        height: 100%;
        width: 250px;
        font-size: 20px;
        max-width: 50%;
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.23) inset, 3px 0px 0px 0px rgba(0, 0, 0, 0.03), 2.5px 0px 0px 0px rgba(0, 0, 0, 0.04), 2px 0px 0px 0px rgba(0, 0, 0, 0.05), 1.5px 0px 0px 0px rgba(0, 0, 0, 0.06), 1px 0px 0px 0px rgba(0, 0, 0, 0.07), 0.5px 0px 0px 0px rgba(0, 0, 0, 0.08); } }
  #linkbar #linkBarLinks a {
    margin-right: 40px;
    z-index: 2;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
    @media screen and (max-width: 24cm) {
      #linkbar #linkBarLinks a {
        margin-right: 8px;
        display: block;
        padding: 10px 0px;
        color: rgba(0, 0, 0, 0.87);
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Roboto', 'Helvetica Neue'; } }
  #linkbar #menuBoxIcon {
    display: none; }
    @media screen and (max-width: 24cm) {
      #linkbar #menuBoxIcon {
        display: inline-block;
        height: 100%;
        font-size: 28px;
        text-decoration: none;
        color: white;
        vertical-align: middle;
        line-height: 56px;
        margin-left: 15px; } }
  #linkbar #title {
    display: none; }
    @media screen and (max-width: 24cm) {
      #linkbar #title {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        line-height: 56px;
        margin-left: 12px;
        font-family: 'Roboto'; } }

#teaser {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1px; }
  #teaser img {
    margin-bottom: -1px; }
  #teaser #blackBar {
    visibility: none; }
    @media screen and (max-width: 24cm) {
      #teaser #blackBar {
        visibility: visible;
        height: 56px;
        width: 100%;
        background: #F44336; } }

#siteContent {
  width: 75%;
  margin: 0px auto 0px auto;
  min-height: 100%;
  max-width: 1800px; }
  @media screen and (max-width: 38cm) {
    #siteContent {
      width: 85%; } }
  @media screen and (max-width: 24cm) {
    #siteContent {
      width: 95%; } }
  #siteContent .contentElement {
    margin: 30px 0px 35px 0px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px; }
    #siteContent .contentElement h2 {
      text-align: center;
      font-size: 60px;
      padding: 0px;
      margin: 0px;
      color: rgba(0, 0, 0, 0.87); }
      @media screen and (max-width: 24cm) {
        #siteContent .contentElement h2 {
          font-size: calc( 20px + 2vw ); } }
    #siteContent .contentElement .content {
      padding: 10px;
      color: rgba(0, 0, 0, 0.87);
      margin-top: 15px;
      font-size: 22px; }
      @media screen and (max-width: 24cm) {
        #siteContent .contentElement .content {
          font-size: 15px; } }
      #siteContent .contentElement .content:after {
        content: " ";
        display: block;
        height: 0;
        clear: both; }
    @media screen and (max-width: 24cm) {
      #siteContent .contentElement {
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin: 15px 0px 15px 0px; } }

#siteContent #intro .content {
  font-size: 30px; }
  @media screen and (max-width: 24cm) {
    #siteContent #intro .content {
      font-size: 20px; } }

@media screen and (min-width: 24cm) {
  #siteContent #referenssit {
    background: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px; }
    #siteContent #referenssit h2 {
      background: white;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    #siteContent #referenssit .content {
      padding: 0px; } }
#siteContent #referenssit .content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 30cm) {
    #siteContent #referenssit .content {
      display: block; } }
  @media screen and (max-width: 24cm) {
    #siteContent #referenssit .content {
      margin-top: -15px;
      display: block;
      width: auto; } }
  #siteContent #referenssit .content figure {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(50% - 40px - 0.7vw);
    margin-top: 0.7vw;
    margin-bottom: 0.7vw; }
    @media screen and (max-width: 30cm) {
      #siteContent #referenssit .content figure {
        width: auto;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (max-width: 24cm) {
      #siteContent #referenssit .content figure {
        border-radius: 0px;
        box-shadow: none;
        min-height: 80px;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px;
        border-bottom: 1px solid #c8c8c8;
        padding-bottom: 15px; }
        #siteContent #referenssit .content figure:last-of-type {
          border-bottom: 0px; } }
    #siteContent #referenssit .content figure img {
      width: 200px;
      height: 200px;
      float: left;
      border-radius: 1px; }
      @media screen and (max-width: 24cm) {
        #siteContent #referenssit .content figure img {
          width: 80px;
          height: 80px;
          margin-top: 2px;
          border-radius: 0.7px; } }
    #siteContent #referenssit .content figure .desc {
      font-size: 18px;
      margin-left: 220px;
      padding-top: 0px;
      margin-top: 0px;
      word-wrap: break-word; }
      @media screen and (max-width: 34cm) {
        #siteContent #referenssit .content figure .desc {
          font-size: 16px; } }
      @media screen and (max-width: 24cm) {
        #siteContent #referenssit .content figure .desc {
          padding-top: -5px;
          margin-left: 92px;
          font-size: 15px; } }
    #siteContent #referenssit .content figure:after {
      content: " ";
      display: block;
      height: 0;
      clear: both; }
  #siteContent #referenssit .content:after {
    content: none; }

#siteContent #imagesElement {
  background: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 24cm) {
    #siteContent #imagesElement {
      margin: 4%; } }
  #siteContent #imagesElement .my-gallery {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  #siteContent #imagesElement figure {
    display: block;
    float: left;
    width: 45%;
    background: white;
    padding: 1.5vw;
    margin: 0;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    @media screen and (min-width: 2571.4px) {
      #siteContent #imagesElement figure {
        padding: 30px; } }
    @media screen and (max-width: 24cm) {
      #siteContent #imagesElement figure {
        width: 45%;
        padding: 1.3vw; } }
    #siteContent #imagesElement figure img {
      width: 100%;
      height: auto; }
    #siteContent #imagesElement figure:after {
      clear: both;
      overflow: auto;
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
  #siteContent #imagesElement:after {
    clear: both;
    overflow: auto;
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }

#siteContent #bullets {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0 0 0 0.5em; }
  @media screen and (max-width: 24cm) {
    #siteContent #bullets {
      font-size: 20px;
      padding-left: 0.5em; } }
  #siteContent #bullets ul {
    padding: 0;
    margin: 0 0 0 0.8em; }
    #siteContent #bullets ul li {
      margin: 0.3em 0px; }

#contact {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 2s; }
  #contact .content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 4px solid white; }
  #contact.highlight {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition-duration: 0.75s; }
  #contact form {
    margin-bottom: 0px; }
    #contact form input, #contact form textarea {
      display: block;
      font-family: 'Open Sans';
      color: #282828;
      height: 2em;
      font-size: 18px;
      padding: 4px;
      margin: 4px 0;
      width: 100%;
      max-width: 100%;
      transition: box-shadow 150ms ease;
      outline: none;
      box-sizing: border-box;
      -webkit-appearance: none;
      border: none;
      -webkit-tap-highlight-color: transparent; }
    #contact form textarea {
      height: 180px;
      resize: none;
      border-top: 0.2px solid rgba(0, 0, 0, 0.2);
      padding-top: 10px; }
    #contact form input[type="submit"] {
      background-color: #4285f4;
      color: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
      border-radius: 2px;
      border: none;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bold;
      padding: 18px;
      line-height: 0px;
      width: auto;
      font-size: 13px;
      cursor: pointer;
      margin-top: 15px; }
      #contact form input[type="submit"]:hover {
        background-color: #3a76e5;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
      #contact form input[type="submit"]:active {
        background-color: #3367d6;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32); }
    #contact form input[type="text"] {
      border-radius: 0px;
      margin-bottom: 2px;
      display: block; }
    #contact form .notification {
      margin-top: -55px;
      z-index: 2;
      background: #404040;
      color: white;
      position: relative;
      padding: 16px 16px;
      width: auto;
      display: inline-block;
      border-radius: 3px;
      transition-duration: 100ms;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      font-size: 14px; }
      #contact form .notification.hideSlow {
        opacity: 0;
        display: none;
        transition-duration: 100ms; }

#bottomBar {
  background-color: #F44336;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  #bottomBar h2 {
    padding: 0px;
    margin: 0px; }
  #bottomBar #contacts {
    width: 70%;
    margin: 0px auto 0px auto;
    padding: 20px 0px 20px 0px; }
    @media screen and (max-width: 24cm) {
      #bottomBar #contacts {
        width: 85%; } }
    #bottomBar #contacts a {
      color: inherit; }

#popup {
  position: fixed;
  width: 50%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  border: 3px solid #969696;
  padding: 10px;
  display: flex;
  flex-direction: column; }

#popup:not(.open) {
  display: none; }

#popup .title .close-popup {
  float: right;
  color: #4a4a4a; }

#popup .title {
  line-height: 1em;
  padding: 0.4em 0.4em 0.4em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px solid gray; }

#popupContent {
  overflow-y: scroll;
  flex-grow: 1; }

#popupBackground {
  background-color: black;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  transition: opacity 800ms; }

#popupBackground:not(.open) {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.8s, opacity 800ms; }

@media screen and (min-width: 24cm) {
  #popupBackground {
    opacity: 0;
    visibility: hidden; } }
@media screen and (max-width: 38cm) {
  #popup {
    width: 90%;
    height: 85%;
    max-height: 500px;
    margin-top: 80px;
    margin-top: auto;
    margin-bottom: auto; } }
.contactFormButton {
  text-transform: uppercase;
  background: #3a76e5;
  color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: box-shadow 300ms ease;
  border-radius: 3px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  display: inline-block;
  margin-top: 17px; }
  .contactFormButton:hover:not(:active) {
    background-color: #3367d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .contactFormButton:active {
    background-color: #2959c0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32); }

.mobile {
  display: none; }

#contactFloatingButton {
  visibility: hidden; }

@media screen and (max-width: 24cm) {
  .contactFormButton {
    float: none;
    margin-left: -3px; }

  .desktop {
    display: none; }

  .mobile {
    display: inline-block; }

  #beforeContactFormButton {
    height: 0px;
    padding: 0px;
    margin: 0px;
    clear: both;
    display: block; }

  #contactFloatingButton {
    visibility: visible;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: bottom 0.4s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #4285f4; }
    #contactFloatingButton:hover, #contactFloatingButton:focus {
      background: #3a76e5; }
    #contactFloatingButton:active {
      background: #3367d6; }

  #contactFloatingButton.hidden {
    bottom: -65px;
    transition: bottom 0.4s; } }
.ripplelink {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5); } }
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5); } }
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5); } }
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
a {
  color: #325096;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

html {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
  background: white; }

body {
  margin: 0px;
  padding: 0px;
  background-image: url(/assets/media/texture.jpg);
  overflow-x: hidden;
  background: whitesmoke; }
  @media screen and (max-width: 24cm) {
    body {
      font-size: 15px; } }

/*# sourceMappingURL=index.css.map */
